{
  "CN": "{{ admin_csr_cn }}",
  "key": {
    "algo": "{{ admin_csr_algo }}",
    "size": {{ admin_csr_size }}
  },
  "names": [
    {
      "C": "{{ admin_csr_c }}",
      "L": "{{ admin_csr_l }}",
      "O": "{{ admin_csr_o }}",
      "OU": "{{ admin_csr_ou }}",
      "ST": "{{ admin_csr_st }}"
    }
  ]
}