{
  "CN": "{{ ca_csr_cn }}",
  "key": {
    "algo": "{{ ca_csr_algo }}",
    "size": {{ ca_csr_size }}
  },
  "names": [
    {
      "C": "{{ ca_csr_c }}",
      "L": "{{ ca_csr_l }}",
      "O": "{{ ca_csr_o }}",
      "OU": "{{ ca_csr_ou }}",
      "ST": "{{ ca_csr_st }}"
    }
  ]
}