{
  "CN": "{{ service_accounts_csr_cn }}",
  "key": {
    "algo": "{{ service_accounts_csr_algo }}",
    "size": {{ service_accounts_csr_size }}
  },
  "names": [
    {
      "C": "{{ service_accounts_csr_c }}",
      "L": "{{ service_accounts_csr_l }}",
      "O": "{{ service_accounts_csr_o }}",
      "OU": "{{ service_accounts_csr_ou }}",
      "ST": "{{ service_accounts_csr_st }}"
    }
  ]
}